<div class="container">
    <table class="table">
       <thead class="thead-dark">
          <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Price</th>
             <th>photo_Link</th>
             <th>Description</th>
             <th>Unit_id</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor = "let item of items">
             <td>{{item.id}}</td>
             <td>{{item.item_name}}</td>
             <td>{{item.price}}</td>
             <td class="text-wrap">{{item.item_photo}}</td>
             <td>{{item.description}}</td>
             <td>{{item.unit_id}}</td>
             <td><button class="btn btn-sm btn-info">edit</button></td>
             <td><button class="btn btn-sm btn-danger" (click) = "confirmdeletion(item.id)" >delete</button></td>
          </tr>
       </tbody>
    </table>
  </div> 


  <!-- for delete after confirmation-->
<div class="backdrop" [ngStyle]="{'display':isDelete}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':isDelete}">
  <div class="modal-dialog" role="document">
     <!-- modal content  -->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" aria-label="Close" (click)="onCloseHandled('delete')"><span aria-hidden="true">&times;</span></button>
        </div>
        <!-- model body section -->
        <div class="modal-body">
           <form>
              <div class="form-group">
                 <span><button class="btn btn-sm btn-info"(click)= "deleteItem()">Yes</button></span> 
                 <span><button class="btn btn-sm btn-danger" (click)="onCloseHandled('delete')">No</button></span>
              </div>
           </form>
        </div>
        <!-- Modal footer-->
        <div class="modal-footer">
           <button type="button" class="btn btn-default"  (click)="onCloseHandled('delete')">Cancel</button>
        </div>
      </div>
  </div>
</div>


<!--for add or post-->
<!-- open a modal window by clicking button-->
<div class="container">
   <!-- Modal section -->
   <div class="modal" id="myModal" [ngClass]="{'show': showModal}">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" (click)="showModal=false"  data-dismiss="modal">&times;</button>
            </div>
            <!-- model body section -->
            <div class="modal-body">
               <form [formGroup]="itemForm">
                  <div class="form-group">
                     <label>Id</label>
                     <input type="integer"  formControlName="id" required>
                  </div>
                  <div class="form-group">
                     <label>Item_Name</label>
                     <input type="text"  formControlName="item_name" required>
                  </div>
                  <div class="form-group">
                     <label>Price</label>
                     <input type="text"  formControlName="price" required>
                  </div>
                  <div class="form-group">
                     <label>Item_Photo</label>
                     <input type="text"  formControlName="item_photo" required>
                  </div>
                  <div class="form-group">
                     <label>Description</label>
                     <input type="text"  formControlName="description" required>
                  </div>
                  <div class="form-group">
                     <label>Unit_Id</label>
                     <input type="text"  formControlName="unit_id" required>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!itemForm.valid" (click)="onSubmit(itemForm)">Add</button>
               </form>
            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" (click)="showModal=false"  data-dismiss="modal">Closes</button>
            </div>
         </div>
      </div>
   </div>
   <!-- open a modal window by clicking button-->
   <button type="button" class="btn btn-info btn-sm" (click)="showModal=true" data-toggle="modal" data-target="#myModal">
   Add new Item
   </button>
 </div>